:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: dark;
    color: white;
    background-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input {
    font: inherit;
    word-spacing: inherit;
    letter-spacing: inherit;
}
